/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
	font-family: 'GothamRounded-BoldItalic';
	src: url('../font/GothamRounded-BoldItalic.eot');
	src: url('../font/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg'),
		 url('../font/GothamRounded-BoldItalic.ttf') format('truetype'),
		 url('../font/GothamRounded-BoldItalic.woff') format('woff'),
		 url('../font/GothamRounded-BoldItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'GothamRounded-Book';
	src: url('../font/GothamRounded-Book.eot');
	src: url('../font/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-Book.svg#GothamRounded-Book') format('svg'),
		 url('../font/GothamRounded-Book.ttf') format('truetype'),
		 url('../font/GothamRounded-Book.woff') format('woff'),
		 url('../font/GothamRounded-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'GothamRounded-Medium';
	src: url('../font/GothamRounded-Medium.eot');
	src: url('../font/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg'),
		 url('../font/GothamRounded-Medium.ttf') format('truetype'),
		 url('../font/GothamRounded-Medium.woff') format('woff'),
		 url('../font/GothamRounded-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../font/GothamRounded-Bold.eot');
  src: url('../font/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'),
       url('../font/GothamRounded-Bold.ttf') format('truetype'),
       url('../font/GothamRounded-Bold.woff') format('woff'),
       url('../font/GothamRounded-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'GothamRounded-MediumItalic';
    src: url('GothamRounded-MediumItalic.eot');
    src: url('GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-MediumItalic.woff2') format('woff2'),
        url('GothamRounded-MediumItalic.woff') format('woff'),
        url('GothamRounded-MediumItalic.ttf') format('truetype'),
        url('GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
	max-width: 100%;
}

button:focus, 
a:focus { outline: none; }

/* End reset */
#wrapper {
	width: 1024px;
	height: 768px;
	max-width: 1024px;
	max-height: 768px;
	overflow: hidden;
	margin: 0 auto;
}

#wrapper .page-holder {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.open-popup {
	display: block;
	position: absolute;
	width: 220px;
	height: 105px;
	bottom: 110px;
	right: 46px;
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
}

.close-popup {
	position: absolute;
    width: 70px;
    height: 70px;
    top: 25px;
    right: 30px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    background: transparent;
}

.modal {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.reference-holder {
	position: absolute;
	right: 35px; /* Ver o distancia do layout e corrigir */
	bottom: 23px; /* Ver o distancia do layout e corrigir */
	z-index: 9999;
}

.reference-holder .reference-button {
	position: relative;
	display: block;
	width: 44px; /* Ver o tamanho do layout e corrigir */
	height: 44px; /* Ver o tamanho do layout e corrigir */
	border-radius: 100%;
	border: 0;
	background: url(../images/ref-btn.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	z-index: 1;
}

.reference-holder .reference-txt {
	position: absolute;
	display: none;
	width: 957px; /* Ver o tamanho da imagem e corrigir */
	right: 0; /* Ver o distancia do layout e corrigir */
	bottom: 19px; /* Ver o distancia do layout e corrigir */
}

body.modal-active .reference-holder .reference-txt img,
.reference-holder .reference-txt .ref-popup { display: none;}

body.modal-active .reference-holder .reference-txt .ref-popup { display: block;}