/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
	font-family: 'GothamRounded-BoldItalic';
	src: url('../font/GothamRounded-BoldItalic.eot');
	src: url('../font/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg'),
		 url('../font/GothamRounded-BoldItalic.ttf') format('truetype'),
		 url('../font/GothamRounded-BoldItalic.woff') format('woff'),
		 url('../font/GothamRounded-BoldItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'GothamRounded-Book';
	src: url('../font/GothamRounded-Book.eot');
	src: url('../font/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-Book.svg#GothamRounded-Book') format('svg'),
		 url('../font/GothamRounded-Book.ttf') format('truetype'),
		 url('../font/GothamRounded-Book.woff') format('woff'),
		 url('../font/GothamRounded-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'GothamRounded-Medium';
	src: url('../font/GothamRounded-Medium.eot');
	src: url('../font/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg'),
		 url('../font/GothamRounded-Medium.ttf') format('truetype'),
		 url('../font/GothamRounded-Medium.woff') format('woff'),
		 url('../font/GothamRounded-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../font/GothamRounded-Bold.eot');
  src: url('../font/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'),
       url('../font/GothamRounded-Bold.ttf') format('truetype'),
       url('../font/GothamRounded-Bold.woff') format('woff'),
       url('../font/GothamRounded-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'GothamRounded-MediumItalic';
    src: url('GothamRounded-MediumItalic.eot');
    src: url('GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-MediumItalic.woff2') format('woff2'),
        url('GothamRounded-MediumItalic.woff') format('woff'),
        url('GothamRounded-MediumItalic.ttf') format('truetype'),
        url('GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
	max-width: 100%;
}

button:focus, 
a:focus { outline: none; }

/* End reset */
#wrapper {
	width: 1024px;
	height: 768px;
	max-width: 1024px;
	max-height: 768px;
	overflow: hidden;
	margin: 0 auto;
}

#wrapper .page-holder {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.open-pop-ups {
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border-radius: 30px;
}

.page-holder .open-pop-ups.popup-1 {
	bottom: 160px;
	left: calc(50% - 215px);	
}

.page-holder .open-pop-ups.popup-2 {
	bottom: 85px;
	right: 50%;
	transform: translateX(25px);
}

.page-holder .open-pop-ups.popup-3 {
	right: 300px;
	bottom: 160px;
}

.page-holder .modals {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.page-holder .modals .close-modals {
	position: absolute;
	display: block;
	width: 70px;
	height: 70px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	top: 25px;
	right: 30px;
	border-radius: 40px;
	z-index: 998;
}

.modals {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
}

.page-holder .modals .open-pop-ups {
	width: 60px;
	height: 60px;
	border: none;
}

.modals .open-pop-ups.tl-14-1 {
	top: calc(50% + 60px);
	left: calc(50% + 20px);
}

.modals .open-pop-ups.tl-14-2 {
	left: calc(50% + 20px);
	bottom: 205px;
}

.modals .open-pop-ups.tl-20 {
	bottom: 260px;
	left: calc(50% - 10px);
}

.modals .open-pop-ups.tl-15-1,
.modals .open-pop-ups.tl-15-2,
.modals .open-pop-ups.tl-15-3 {
	left: calc(50% - 40px);
}

.modals .open-pop-ups.tl-15-1 {
	bottom: 265px;	
}
.modals .open-pop-ups.tl-15-2 {
	bottom: 206px;	
}
.modals .open-pop-ups.tl-15-3 {
	bottom: 150px;	
}

.animation {
	position: absolute;
	bottom: 170px;
}

.anim{
	bottom: 105px;
}

.animation .top { margin-bottom: -1px }
.animation .bottom { position: absolute;}
.animation.anima-2 .bottom {left: -1px;}
.animation .overflow {
	height: 0;
	background-repeat: repeat-y;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.animation.anima-1 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	background-size: contain;
	animation-name: fadeUp-1;
}

.animation.anima-2 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	background-size: contain;
	animation-name: fadeUp-2;
}

.animation.anima-3 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	background-size: contain;
	animation-name: fadeUp-3;
}

.animation.anima-4 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	background-size: contain;
	animation-name: fadeUp-4;
}

.animation.anima-5 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	background-size: contain;
	animation-name: fadeUp-5;
}

.animation.anima-6 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	background-size: contain;
	animation-name: fadeUp-6;
}

.animation.anima-7 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	background-size: contain;
	animation-name: fadeUp-7;
}

.animation.anima-8 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	background-size: contain;
	animation-name: fadeUp-8;
}

.animation.anima-19 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	background-size: contain;
	animation-name: fadeUp-19;
}

.animation.anima-20 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	background-size: contain;
	animation-name: fadeUp-20;
}


.anima-1 {
	width: 100px;
	left: 221px;
}

.anima-2 {
	width: 100px;
	left: 354px;
}

.anima-3 {
	width: 100px;
	right: 416px;
}

.anima-4 {
	width: 100px;
	right: 295px;
}

.anima-5 {
	width: 100px;
	left: 221px;
}

.anima-6 {
	width: 100px;
	left: 343px;
}

.anima-7 {
	width: 100px;
	right: 416px;
}

.anima-8 {
	width: 100px;
	right: 295px;
}

.anima-19 {
	width: 100px;
	left: 282px;
}

.anima-20 {
	width: 100px;
	left: 411px;
}

.anima-1 p,
.anima-2 p,
.anima-3 p,
.anima-4 p,
.anima-5 p,
.anima-6 p,
.anima-7 p,
.anima-8 p,
.anima-19 p,
.anima-20 p{
    color: white;
    font-family: 'GothamRounded-Bold';
    position: absolute;
    top: 29px;
    left: 30px;
}
.anima-19 p,
.anima-20 p{
font-size: 1.6em;
}

@keyframes fadeUp-1 {
	to{
		height: 206px;
	}
}

@keyframes fadeUp-2 {
	to {
		height: 102px;
	}
}

@keyframes fadeUp-3 {
	to{
		height: 153px;
	}
}

@keyframes fadeUp-4 {
	to {
		height: 55px;
	}
}

@keyframes fadeUp-5 {
	to{
		height: 269px;
	}
}

@keyframes fadeUp-6 {
	to {
		height: 188px;
	}
}

@keyframes fadeUp-7 {
	to{
		height: 113px;
	}
}

@keyframes fadeUp-8 {
	to {
		height: 51px;
	}
}

@keyframes fadeUp-19 {
	to{
		height: 348px;
	}
}

@keyframes fadeUp-20 {
	to {
		height: 281px;
	}
}

.v-animado1{
	width: 48px;
    position: absolute;
    left: 614px;
    top: 455px;
    z-index: 9;
}

.v-animado2{
	width: 48px;
    position: absolute;
    left: 614px;
    top: 505px;
    z-index: 9;
}

.v-animado3{
	width: 48px;
    position: absolute;
    left: 614px;
	top: 557px;
    z-index: 9;
}

.v-animado4{
	width: 48px;
    position: absolute;
    left: 614px;
    top: 455px;
    z-index: 9;
}

.v-animado5{
	width: 48px;
    position: absolute;
    left: 614px;
    top: 505px;
    z-index: 9;
}

.v-animado6{
	width: 48px;
    position: absolute;
    left: 614px;
    top: 558px;
    z-index: 9;
}

.v-animado7{
	width: 48px;
    position: absolute;
    left: 614px;
    top: 613px;
    z-index: 9;
}

.reference-holder {
	position: absolute;
	right: 35px; /* Ver o distancia do layout e corrigir */
	bottom: 23px; /* Ver o distancia do layout e corrigir */
	z-index: 9;
}

.reference-holder .reference-button {
	position: relative;
	display: block;
	width: 44px; /* Ver o tamanho do layout e corrigir */
	height: 44px; /* Ver o tamanho do layout e corrigir */
	border-radius: 100%;
	border: 0;
	background: url(../images/ref-btn.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	z-index: 999;
}

.reference-holder .reference-txt {
	position: absolute;
	display: none;
	width: 957px; /* Ver o tamanho da imagem e corrigir */
	right: 0; /* Ver o distancia do layout e corrigir */
	bottom: 19px; /* Ver o distancia do layout e corrigir */
}

/* POP UP TELA 20 */
.gaussian-1, 
.gaussian-2{
	width: 871px;
	height: 67px;
	background: rgba(255, 255, 255, 0.3);
	filter: blur(0.2rem);
	position: absolute;
	z-index: 1;	
}

.gaussian-1{
	top: 258.5px;
	left: 80px;
}

.gaussian-2{
	left: 80px;
	bottom: 252px;
}

.variacao-leite {
	width: 871px;
	position: absolute;
	top: 258.5px;
	left: 80px;
	z-index: 2;
}
.modal-6 .animation {
	position: absolute;
	width: 45px;	
	bottom: 279.5px;	
}
.modal-6 .anima-9 {left: 261px ;}
.modal-6 .anima-10 {left: 312.5px ;}
.modal-6 .anima-11 {left: 442.5px ;}
.modal-6 .anima-12 {left: 496px ;}
.modal-6 .anima-13 {right: 366px ;}
.modal-6 .anima-14 {right: 313.5px ;}
.modal-6 .anima-15 {right: 191.5px ;}
.modal-6 .anima-16 {right: 138.5px ;}


.modal-6 .animation .top { margin-bottom: -1px }

.modal-6 .animation .overflow {
	height: 0;
	background-repeat: repeat-y;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	background-size: 45px;	
}

.modal-6 .animation.anima-9 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	animation-name: fadeUp-9;
}

.modal-6 .animation.anima-10 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-10;
}
.modal-6 .animation.anima-11 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	animation-name: fadeUp-11;
}

.modal-6 .animation.anima-12 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-12;
}
.modal-6 .animation.anima-13 .overflow {
	background-image: url('../images/bar-gold-middle.png');
	animation-name: fadeUp-13;
}

.modal-6 .animation.anima-14 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-14;
}
.modal-6 .animation.anima-15 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	animation-name: fadeUp-15;
}

.modal-6 .animation.anima-16 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-16;
}

@keyframes fadeUp-9 { /*Bar-Gray*/
	to{
		height: 122.5px;
	}
}
@keyframes fadeUp-10 { /*Bar-Blue*/
	to {
		height: 209.5px;
	}
}
@keyframes fadeUp-11 { /*Bar-Gray*/
	to{
		height: 105px;
	}
}
@keyframes fadeUp-12 { /*Bar-Blue*/
	to {
		height: 177.5px;
	}
}
@keyframes fadeUp-13 { /*Bar-Gray*/
	to{
		height: 105px;
	}
}
@keyframes fadeUp-14 { /*Bar-Blue*/
	to {
		height: 223px;
	}
}
@keyframes fadeUp-15 { /*Bar-Gray*/
	to{
		height: 122.5px;
	}
}
@keyframes fadeUp-16 { /*Bar-Blue*/
	to {
		height: 192px;
	}
}


/* POP UP TELA 23 */

.modal-8 .animation {
	position: absolute;
	width: 100px;	
	bottom: 117.5px;
}
.modal-8 .anima-17 {left: 326px ;}
.modal-8 .anima-18 {left: 441.5px ;}



.modal-8 .animation.anima-17 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-17;
}

.modal-8 .animation.anima-18 .overflow {
	background-image: url('../images/bar-gold-middle.png');	
	animation-name: fadeUp-18;
}

.modal-8 .animation .top { margin-bottom: -1px }

.modal-8 .animation .overflow {
	height: 0;
	background-repeat: repeat-y;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	background-size: 100px;	
}


@keyframes fadeUp-17 { /*Bar-Gray*/
	to{
		height: 325px;
	}
}
@keyframes fadeUp-18 { /*Bar-Gold*/
	to {
		height: 133.5px;
	}
}

.page-holder .line-01,
.page-holder .line-02,
.page-holder .line-03,
.page-holder .line-04 {
	width: 339px;	
    position: absolute;
}
.page-holder .line-01{	
    top: 229px;
    left: 129px;
}

.page-holder .line-02{
	top: 212px;
    left: 129px;
}

.page-holder .line-03{
	top: 223px;
    right: 76px;
}

.page-holder .line-04{
	top: 240px;
    right: 76px;
}


.modals .open-pop-ups.tl-15-22{
	top: 63px;
    left: 497px;
    width: 203px;
    height: 35px;
}
.modals .open-pop-ups.tl-15-21{
    top: 63px;
    left: 123px;
    width: 372px;
    height: 35px;
}



.modals .open-pop-ups.tl-14-ref {
	top: calc(50% + 70px);
	left: calc(50% + 30px);
	background-color: red;
}
