/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
	font-family: 'GothamRounded-BoldItalic';
	src: url('../font/GothamRounded-BoldItalic.eot');
	src: url('../font/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg'),
		 url('../font/GothamRounded-BoldItalic.ttf') format('truetype'),
		 url('../font/GothamRounded-BoldItalic.woff') format('woff'),
		 url('../font/GothamRounded-BoldItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'GothamRounded-Book';
	src: url('../font/GothamRounded-Book.eot');
	src: url('../font/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-Book.svg#GothamRounded-Book') format('svg'),
		 url('../font/GothamRounded-Book.ttf') format('truetype'),
		 url('../font/GothamRounded-Book.woff') format('woff'),
		 url('../font/GothamRounded-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'GothamRounded-Medium';
	src: url('../font/GothamRounded-Medium.eot');
	src: url('../font/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg'),
		 url('../font/GothamRounded-Medium.ttf') format('truetype'),
		 url('../font/GothamRounded-Medium.woff') format('woff'),
		 url('../font/GothamRounded-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../font/GothamRounded-Bold.eot');
  src: url('../font/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'),
       url('../font/GothamRounded-Bold.ttf') format('truetype'),
       url('../font/GothamRounded-Bold.woff') format('woff'),
       url('../font/GothamRounded-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'GothamRounded-MediumItalic';
    src: url('GothamRounded-MediumItalic.eot');
    src: url('GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamRounded-MediumItalic.woff2') format('woff2'),
        url('GothamRounded-MediumItalic.woff') format('woff'),
        url('GothamRounded-MediumItalic.ttf') format('truetype'),
        url('GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
	max-width: 100%;
}

button:focus, 
a:focus { outline: none; }

/* End reset */
#wrapper {
	width: 1024px;
	height: 768px;
	max-width: 1024px;
	max-height: 768px;
	overflow: hidden;
	margin: 0 auto;
}

#wrapper .page-holder {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.open-popup {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 170px;
	right: 15px;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
	background: transparent;
}

.close-popup {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 25px;
	right: 30px;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 40px;
	cursor: pointer;
	background: transparent;
}

.modal {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}



.gaussian-1, 
.gaussian-2{
	width: 871px;
	height: 67px;
	background: rgba(255, 255, 255, 0.3);
	filter: blur(0.2rem);
	position: absolute;
	z-index: 1;	
}

.gaussian-1{
	top: 258.5px;
	left: 80px;
}

.gaussian-2{
	left: 80px;
	bottom: 252px;
}

.variacao-leite {
	width: 871px;
	position: absolute;
	top: 258.5px;
	left: 80px;
	z-index: 2;
}
.animation {
	position: absolute;
	width: 45px;	
	bottom: 279.5px;	
}
.anima-1 {left: 261px;}
.anima-2 {left: 312.5px;}
.anima-3 {left: 442.5px;}
.anima-4 {left: 496px;}
.anima-5 {right: 366px;}
.anima-6 {right: 313.5px;}
.anima-7 {right: 191.5px;}
.anima-8 {right: 138.5px;}

.animation .top { margin-bottom: -1px }

.animation .overflow {
	height: 0;
	background-repeat: repeat-y;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	background-size: 45px;
	
}

.animation.anima-1 .overflow {
	background-image: url('../images/bar-gold.png');	
	animation-name: fadeUp-1;
}

.animation.anima-2 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-2;
}
.animation.anima-3 .overflow {
	background-image: url('../images/bar-gold.png');	
	animation-name: fadeUp-3;
}

.animation.anima-4 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-4;
}
.animation.anima-5 .overflow {
	background-image: url('../images/bar-gold.png');
	animation-name: fadeUp-5;
}

.animation.anima-6 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-6;
}
.animation.anima-7 .overflow {
	background-image: url('../images/bar-gold.png');	
	animation-name: fadeUp-7;
}

.animation.anima-8 .overflow {
	background-image: url('../images/bar-gray-middle.png');	
	animation-name: fadeUp-8;
}

@keyframes fadeUp-1 { /*Bar-Gray*/
	to{
		height: 122.5px;
	}
}
@keyframes fadeUp-2 { /*Bar-Blue*/
	to {
		height: 209.5px;
	}
}
@keyframes fadeUp-3 { /*Bar-Gray*/
	to{
		height: 105px;
	}
}
@keyframes fadeUp-4 { /*Bar-Blue*/
	to {
		height: 177.5px;
	}
}
@keyframes fadeUp-5 { /*Bar-Gray*/
	to{
		height: 105px;
	}
}
@keyframes fadeUp-6 { /*Bar-Blue*/
	to {
		height: 223px;
	}
}
@keyframes fadeUp-7 { /*Bar-Gray*/
	to{
		height: 122.5px;
	}
}
@keyframes fadeUp-8 { /*Bar-Blue*/
	to {
		height: 192px;
	}
}
.reference-holder {
	position: absolute;
	right: 35px; /* Ver o distancia do layout e corrigir */
	bottom: 23px; /* Ver o distancia do layout e corrigir */
	z-index: 9999;
}

.reference-holder .reference-button {
	position: relative;
	display: block;
	width: 44px; /* Ver o tamanho do layout e corrigir */
	height: 44px; /* Ver o tamanho do layout e corrigir */
	border-radius: 100%;
	border: 0;
	background: url(../images/ref-btn.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	z-index: 1;
}

.reference-holder .reference-txt {
	position: absolute;
	display: none;
	width: 957px; /* Ver o tamanho da imagem e corrigir */
	right: 0px; /* Ver o distancia do layout e corrigir */
	bottom: 19px; /* Ver o distancia do layout e corrigir */
}

body.modal-active .reference-holder .reference-txt img,
.reference-holder .reference-txt .ref-popup { display: none;}

body.modal-active .reference-holder .reference-txt .ref-popup { display: block;}